<%= form_for [:client, @visit] do |f| %>
  <div class="form-group">
    <label>Descripción</label>
    <%= f.text_area :description,
      placeholder: 'Que hay que hacer?',
      required: true,
      autofocus: true,
      class: 'form-control'%>
  </div>
  <div class="form-group">
    <label>Duración</label>
    <%= f.text_field :duration,
      placeholder: 'Cuantas horas puede demorar?',
      class: 'form-control'%>
  </div>
  <legend>Agendar</legend>
    <ul class="calendar clearfix">
      <%= render @calendar %>
    </ul>
  <fieldset id="add-to-turn">
    <div class="form-group">
      <%= f.label :turn_id, 'Turno' %>
      <%= f.select :turn_id, Turn.available.map { |t| [t.to_s, t.id] },
        { prompt: 'Seleccione un turno' },
        class: 'form-control' %>
    </div>
  </fieldset>
  <fieldset id="new-turn">
    <legend>Nuevo turno</legend>
    <%= fields_for :turn do |tf| %>
      <div class="form-group">
        <%= tf.label :at, 'Fecha' %>
        <%= tf.text_field :at, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= tf.label :employee_id %>
        <%= tf.select :employee_id, Employee.all.map { |t| [t, t.id] },
          { prompt: 'Seleccione armador' }, class: 'form-control' %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit 'Guardar', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
