<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td><h1><%= @turn.employee %></td>
    <td><h1><%= @turn.at %></td>
  </tr>
  <% @turn.visits.each do |visit| %>
    <tr>
      <td><%= visit.client.address %></td>
      <td><%= visit.client.phone %></td>
      <td><%= visit.client.email %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
