<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <th><%= @turn.employee %></th>
    <th><%= @turn.at %></th>
  </tr>
  <% @turn.visits.each do |visit| %>
    <tr>
      <td><%= visit.client.address %></td>
      <td><%= visit.client.phone %></td>
      <td><%= visit.client.email %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', turns_path %>
