<li class="date<%= ' inactive' if day.expired? %>">
  <h1><%= day.date.strftime('%a') %></h1>
  <h2><%= day.date.strftime('%d') %></h2>

  <% day.turns.each do |turn|%>
    <button class="btn btn-default btn-block" type="button" data-turn-id="<%= turn.id %>">
      <p><%= turn.employee %>, <%= turn.visits.count %> tareas</p>
      <p>
      <% turn.zones.each do |zone| %>
        <span class="label label-info"><%= zone %></span>
      <% end %>
      </p>
    </button>
  <% end %>
  <% unless day.expired? %>
    <button type="button" class="btn btn-primary btn-block new-turn"
            data-at="<%= day.date %>">
      Nuevo turno
    </button>
  <% end %>
</li>
