<li class="date<%= ' inactive' if day.expired? %>">
  <h1><%= day.date.strftime('%a') %></h1>
  <h2><%= day.date.strftime('%d') %></h2>

  <% day.turns.each do |turn|%>
    <p><%= turn.employee %>, <%= turn.visits.count %> tareas</p>
    <p>
    <% turn.zones.each do |zone| %>
      <span class="label label-info"><%= zone %></span>
    <% end %>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="visit[turn_id]" id="visit[turn_id]"
          value=<%= turn.id %>>
      </label>
    </div>
  <% end %>
  <% unless day.expired? %>
    <% if day.turns.empty? %>
      <%# <%= render partial: 'turns/form', locals: { turn: day.turns.new }%>
    <% else %>
    <% end %>
  <% end %>
</li>
