<!DOCTYPE html>
<html>
<head>
  <title>Muebleria</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">

  <div class="container">
    <%= render partial: 'navbar'%>
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <%= close_button %>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
